# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Large trained models not required by Streamlit dashboard
models/rf_model.pkl
models/similarity.pkl

# OS files
.DS_Store
Thumbs.db